# Supabase Environment Variables
SUPABASE_URL=https://uuovnncsnvabnqapqehm.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV1b3ZubmNzbnZhYm5xYXBxZWhtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NTM4OTc1NywiZXhwIjoyMTAwOTY1NzU3fQ.VkZDYgRxwC07XoXHhS-7Tzq4t4YqzD2zZjvjJCzgVXA
PORT=5000
